body {
  margin: 0 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(../../assets/login-bg.jpeg) no-repeat center;
  background-size: cover;
}

.brandTag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  object-fit: contain;
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 300px;
  margin: 16px;
}
